{
  "plugins": [
    "stylelint-gamut"
  ],
  "rules": {
    "gamut/color-no-out-gamut-range": true,
    "function-disallowed-list": ["rgba", "hsla", "rgb", "lab"],
    "color-function-notation": "modern",
    "color-no-hex": true
  }
}
