/**
 * CSS Resource file for UIBUILDER
 *
 * Load as: ./resources/node-red-contrib-uibuilder/ti-common.css
 */

:root {
    --uib-node-colour: hsl(248 100% 91%);
    --uib-blue: hsl(204 89% 55% / 70%); 
    --uib-red: hsl(0 100% 45% / 70%); /* #8f0000; */
}

.uib-name {
    display:inline !important;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--uib-blue) !important;
}
.uib-red {
    color: var(--uib-red) !important;
    font-weight: 800;
}

#uib-el .red-ui-typedInput-container {
    width:69% !important;
}

.ui-tooltip { /* Better tooltips */
    background-color: var(--red-ui-popover-background);
    color: var(--red-ui-popover-color);
}

.emoji { /* Better Emoji's */
    font-family: 
        "Twemoji Mozilla",
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji",
        "EmojiOne Color",
        "Android Emoji",
        sans-serif;
}

#ti-edit-panel fieldset {
    border-style: groove;
    border-color: var(--red-ui-primary-background);
    border-width: 2px;
    padding-left: .3em;
}
#ti-edit-panel legend {
    width:fit-content;
    padding-left: .2em;
    padding-right: .2em;
}
