<!doctype html>
<html lang="en"><head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Minimal modern ESM client example - Node-RED uibuilder</title>
    <meta name="description" content="Node-RED uibuilder - Minimal modern ESM client example">
    <link rel="icon" href="./images/node-blue.ico">

    <!-- Your own CSS -->
    <link type="text/css" rel="stylesheet" href="./index.css" media="all">

    <!-- NOTE that this is loaded as a MODULE -->
    <script type="module" async src="./index.js">/* Imports uibuilder + your custom code */</script>

</head><body class="uib">
    
    <h1>uibuilder Minimal Modern Client Example using ESM library</h1>

    <div id="more"><!-- '#more' is used as a parent for dynamic content in examples --></div>

    <!-- Two different ways to send data back to Node-RED via buttons.
                fnSendToNR uses standard `uibuilder.send`.
                eventSend includes `data-*` attributes, keyb modifiers, etc. Works with any event. -->
    <button onclick="fnSendToNR('A message from the sharp end!')">Send a msg back to Node-RED</button>
    <button onclick="uibuilder.eventSend(event)" data-type="eventSend" data-foo="Bah">eventSend</button>

    <pre id="msg" class="syntax-highlight">Waiting for a message from Node-RED</pre>

</body></html>
