<!DOCTYPE html>
<!-- Everything like %%...%% and {{...}} gets replaced on first page load if attributes available.
  -- Everything that has a data-attribute="...." gets updated when navigating via SPA.
  -- % %body% % is where the main content goes. If you don't include it, you get no content!
  -- <base> is REQUIRED for SPA navigation to work properly.
  -->
<html lang="en"><head>
    <meta charset="UTF-8">
    <base href="%%url%%/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" data-attribute="description" content="{{description}}">
    <title data-attribute="title">{{title}}</title>
    <link rel="icon" href="../uibuilder/images/node-blue.ico">

    <link type="text/css" rel="stylesheet" href="../uibuilder/uib-brand.min.css" media="all">
    <link type="text/css" rel="stylesheet" href="../uibuilder/utils/markweb.css" media="all">
    <!-- You can add your own stylesheets here -->

    <script type="module" src="../uibuilder/uibuilder.esm.min.js"></script>
    <!-- Base URL is REQUIRED by the module! The uibuilder client lib is loaded by this module -->
    <script type="module" src="../uibuilder/utils/markweb.mjs" data-base-url="%%url%%"></script>
    <!-- You can add your own scripts here -->

</head><body>

    <a class="skip-link" href="#main">Skip to main content</a>
    <header>
        %%nav [type=horizontal,start=0,end=3]%%
        <h1 data-attribute="title">{{title}}</h1>
        %%search-results%%
        <article id="search-results" hidden>
            <div id="search-header">
                <span>Search results for "<span id="search-query">N/A</span>" (<span id="search-count">N/A</span>)</span>
                <button class="search-close" aria-label="Close search results">×</button>
            </div>
            <div id="search-details"></div>
        </article>
        <div class="visible-status" data-attribute="status">{{status}}</div>
    </header>

    <main>
        <div data-attribute="body">%%body%%</div>
    </main>

</body></html>
